end_point_workflow.json
{
  "name": "end_point_workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        -144
      ],
      "id": "cb57c229-0d02-4263-8437-5b3e0d86399e",
      "name": "When chat message received",
      "webhookId": "279422b8-fdc4-4bd5-9946-3d26ea3b56d4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        80,
        -32
      ],
      "id": "615eb9b3-67b2-444e-baf9-d3c315a503cb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        176
      ],
      "id": "fc152ce7-1c6d-4217-8f81-2987a252983e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "v9s2wHnK9Qxg2Nvb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query.query }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        176
      ],
      "id": "f76d8367-9527-41fd-a816-31b7e65934d9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        240,
        176
      ],
      "id": "32c24f19-b19f-4dda-8f7a-454b960077d6",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "LLFAlRXUGl7A5YDR",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        -32
      ],
      "id": "b3f5f755-fcc4-43a9-bda0-e7f277f3271c",
      "name": "Webhook",
      "webhookId": "e2a3f126-c6fe-452b-bd12-5158933345c5"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        -16
      ],
      "id": "10cfe165-be0e-4c84-aa32-295f1f7da961",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c0f0d430-fa19-47f7-901e-dccc08e57c53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52158e03430aa23dffc945d4cb5143e6efd9b70bf2ebdb9457f1ddc63d36fc4b"
  },
  "id": "GXw8S1fl8a0hqrid",
  "tags": []
}