My_workflow_updated__2_ (1).json
{
  "name": "My workflow updated (2)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        460
      ],
      "id": "a2543752-2e83-4cd7-90a6-e6c56103f708",
      "name": "Telegram Trigger",
      "webhookId": "fef23b8b-2a01-426e-9ff4-4ed22a926f8d",
      "credentials": {
        "telegramApi": {
          "id": "cXRRojxJIhjSBbqN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.text || $json.caption || \"PDF uploaded. What do you want me to do with it?\" }}",
        "options": {
          "systemMessage": "=# ROLE\nYou are a friendly and helpful assistant called (Your Agent's Name), you are a personal assistance to (Your Name)\n\n#ADDITIONAL INFORMATION\nYou are currently chatting with {{ $('Telegram Trigger').item.json.message.from.first_name }}.\n\nThe current date and time is {{ $now }}\n\n# TOOLS\n\n## Read Emails\nUse this tools to retrieve unread emails.\n\n## Send Emails\nUse this tool to send emails. This tool requires the reciepent email, the email subject and body text.\n\n## Get Event\nUse this tool to retieve events from Google Calender.\n\n## Create Event\nUse this tool create Google Calendar events.\n\n## Get Weather\nUse this tool to get current weather details for a city.\nYou must provide a \"location\" like \"Colombo\" or \"London\".\n\n## Get Crypto Price\nUse this tool to get the current price of any cryptocurrency.\nYou must provide:\n- \"coin\": the cryptocurrency name or id (e.g. bitcoin, ethereum)\n- \"currency\": the fiat currency to convert to (e.g. usd, lkr, eur)\n\n# Github Tool\nUse this tool to see my github repository. \nYou must provide:\n- file names in the repository.\n- number of files.\n- file formats (like .py, .json)\n- other general details\n\n# code tool\nuse this tool for coding. \nYou must provide:\n- codes\n\n## LinkedIn Tool\nuse this tool when LinkedIn access needed.\nYou must do:\n- make posts according to user providing details\n\n## Drive upload Tool\nuse this tool to upload user input images, vides, audios or pdfs to upload into google drive.\nYou must do:\n- upload into the drive"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        400,
        560
      ],
      "id": "690b146a-ddea-4f38-9496-0deb05ceb8ce",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        820
      ],
      "id": "67f2b82c-01e8-4cf2-a94a-b903bc894709",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Psbw9TPc9wKYxJbo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $json.text || $json.caption || \"PDF uploaded. What do you want me to do with it?\" }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        820
      ],
      "id": "471a28c0-1442-4e91-8581-f313604f4d0a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1180,
        560
      ],
      "id": "cd1e1ab7-d0ca-4d0d-8a9a-531857c902bf",
      "name": "Telegram",
      "webhookId": "aca74869-efb6-4a79-aaa9-f92a22074d68",
      "credentials": {
        "telegramApi": {
          "id": "cXRRojxJIhjSBbqN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "bff07e7f-86f9-4e39-bbf6-b8ced6831240"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ac569a27-4af2-4cdd-82b0-1942608cf4a0",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "290e5ab4-b7e4-44c1-83f6-e689a84a5c83",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50b14142-410c-4100-9aca-ad3756c39d1e",
                    "leftValue": "={{ $json.message.document.mime_type === \"application/pdf\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -220,
        440
      ],
      "id": "47650d3b-0922-4abe-8a65-e909c6b2d37a",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        20,
        400
      ],
      "id": "ed15cbd3-e8e3-4ae1-89c1-1164fd79e44e",
      "name": "Get Audio",
      "webhookId": "716181ae-9f25-4400-bd13-9995aaf0df41",
      "credentials": {
        "telegramApi": {
          "id": "cXRRojxJIhjSBbqN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        200,
        420
      ],
      "id": "1631d46d-aade-4f08-aa12-6ce380442174",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Psbw9TPc9wKYxJbo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9671bd5-89c3-4a82-bb76-757baaaa221f",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        600
      ],
      "id": "34e29eea-b53e-41ef-93dc-8f77c29b9820",
      "name": "Agent input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d9ce80b-0f5c-4f48-ae9e-92a68c6b7373",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        560
      ],
      "id": "7886011b-2072-452f-a142-bf0fb9df5b5b",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "echo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1020,
        360
      ],
      "id": "68444208-a800-41e5-9cf9-14e3ff0e36f7",
      "name": "Generate Audio",
      "credentials": {
        "openAiApi": {
          "id": "Psbw9TPc9wKYxJbo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1180,
        360
      ],
      "id": "fc9e591d-f310-4b52-b6ad-21980d638a3a",
      "name": "Telegram1",
      "webhookId": "89d7b129-49fb-4ab4-9639-316361a13908",
      "credentials": {
        "telegramApi": {
          "id": "cXRRojxJIhjSBbqN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.photo[1].file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        100,
        240
      ],
      "id": "ec5466e1-92a2-4a7b-b3e2-46b5c62823aa",
      "name": "Download Image",
      "webhookId": "f3831677-a29f-4e7e-82b2-73f488c631ff",
      "credentials": {
        "telegramApi": {
          "id": "cXRRojxJIhjSBbqN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "={{ $('Telegram Trigger').item.json.message.caption || \"Describe Image\" }}",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        580,
        360
      ],
      "id": "afca271e-88b4-4565-aa2a-2b4bfec7edeb",
      "name": "Analyze Image",
      "credentials": {
        "openAiApi": {
          "id": "Psbw9TPc9wKYxJbo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputItem = items[0];\nconst extension = inputItem.binary.data.fileExtension;\ninputItem.binary.data.mimeType = `image/${extension}`;\nreturn inputItem;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        360
      ],
      "id": "ff2183e2-8769-466d-9288-f3142f281d04",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d235d520-5c3b-488e-9bf1-cfcbebd93c24",
              "name": "output",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        360
      ],
      "id": "dfe734c9-bd54-4d10-b7e9-75aa93d24b1d",
      "name": "Format Image Output"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        400,
        820
      ],
      "id": "0fc50831-71f8-4b42-82aa-f3f9614a014a",
      "name": "Read Email",
      "webhookId": "59e0a95f-5f3a-4cdc-bdf5-c9e09c1678a6",
      "credentials": {
        "gmailOAuth2": {
          "id": "jlGurSrwAaeprry3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('email_address', 'The recipient email address') }}",
        "subject": "={{ $fromAI('email_subject', 'The email subject line') }}",
        "emailType": "text",
        "message": "={{ $fromAI('email_body', 'The email body') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        500,
        820
      ],
      "id": "d8db87f5-acfd-4363-9e16-41efdaee897c",
      "name": "Send Email",
      "webhookId": "3549d1ae-af20-4cd3-b78f-06f40e195f5a",
      "credentials": {
        "gmailOAuth2": {
          "id": "jlGurSrwAaeprry3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "www.udarachamidu123@gmail.com",
          "mode": "list",
          "cachedResultName": "www.udarachamidu123@gmail.com"
        },
        "start": "={{ $fromAI('start') }}",
        "end": "={{ $fromAI('end') }}",
        "additionalFields": {
          "summary": "={{ $fromAI('email_title') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        600,
        820
      ],
      "id": "37788071-2264-454d-a4b3-76d61765a9b9",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "b9YnNUca2vBfTPNf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=www.udarachamidu123@gmail.com",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        700,
        820
      ],
      "id": "c4b5b399-023f-458e-b1ae-934c7b94d1d8",
      "name": "Get Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "b9YnNUca2vBfTPNf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openweathermap.org/data/2.5/weather?q={{$fromAI(\"location\", \"Location name\")}}&appid=244ec972f4733abe234a17303f291e91&units=metric",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        800,
        820
      ],
      "id": "507076f9-7f90-48df-ae65-91677c3bfc03",
      "name": "Weather Tool"
    },
    {
      "parameters": {
        "url": "=https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        920,
        820
      ],
      "id": "ab0b214f-8680-4fad-9b44-8c7fc6643097",
      "name": "BTC Price Tool"
    },
    {
      "parameters": {
        "language": "python"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1040,
        820
      ],
      "id": "fcfbafe3-2b5c-48bb-bafb-f8c4625aa614",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "resource": "user",
        "owner": {
          "__rl": true,
          "value": "=https://github.com/UdaraChamidu",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        1160,
        820
      ],
      "id": "ddab6336-9cdd-46df-80bc-f3b8cb009298",
      "name": "Github Tool",
      "webhookId": "ac7afeab-e463-4246-b0e4-b0bc96a3e179",
      "credentials": {
        "githubApi": {
          "id": "4YBVm6aZSg8NPMZ6",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input_Data_Field_Name', ``, 'string') }}",
        "name": "=my file name",
        "driveId": {
          "__rl": true,
          "value": "={{ $fromAI('Parent_Drive', ``, 'string') }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $fromAI('Parent_Folder', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        1280,
        820
      ],
      "id": "7e9acd1c-d6bf-47a5-90ec-e2c42625dced",
      "name": "Upload Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qaGUJMFlCj3fCKX3",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Format Image Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Image Output": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Weather Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "BTC Price Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Github Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff0b82b9-03ba-4163-9e90-6157e3c59f7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f79746b4424f8d5d6a4a18a57f32b7f1e0ada6adce10eea0fa00a1f8c7fe5e12"
  },
  "id": "gcHfwGkU5OJjIGJB",
  "tags": []
}